netcoreapp3.1/

src/obj/

src/bin/

.vs/

src/pedSyncer.csproj.user
src/Properties/PublishProfiles/FolderProfile.pubxml
src/Properties/PublishProfiles/FolderProfile.pubxml.user
*.pubxml
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/PublishProfiles/FolderProfile.pubxml
src/Properties/PublishProfiles/FolderProfile.pubxml
src/Properties/PublishProfiles/FolderProfile.pubxml.user
